.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
.navBar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: #8b5cf6;
  width: 100%;
  color: #fff;
}
.navBar span {
  background-color: #4c1d95;
  width: 60px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin: 0 10px;
}
.productList {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.product {
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #a21caf;
  padding: 20px 30px;
  margin-top: 10px;
  width: 1000px;
}
.product label {
  color: #4c1d95;
  font-weight: bold;
}
p {
  margin-right: 10px;
}
.cource {
  color: #a21caf;
}
.price {
  color: #a21caf;
}

.btn {
  text-align: center;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #a21caf;
  color: #4c1d95;
  background-color: transparent;
  border-radius: 5px;
}
.remove{
  border: 1px solid red;
  color: red;
}
.boxQty {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c4b5fd;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.qty {
  color: #c026d3;
}
/* .boxInput {
}
.input {
  padding: 5px;
  border-radius: 8px;
} */
