.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.navBar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background-color: rgb(228, 228, 228);
  width: 100%;
}
.navBar span {
  background-color: fuchsia;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin: 0 10px;
}
.productList {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.product {
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ccc;
  padding: 20px 40px;
  margin-top: 10px;
}
p {
  margin-right: 10px;
}
.btn {
  text-align: center;
  cursor: pointer;
  padding: 10px 20px;
  width: 70px;
  border: 2px solid rgb(195, 132, 255);
  background-color: transparent;
  margin: 0 10px;
  border-radius: 8px;
}
.boxQty {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blueviolet;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 10px 0;
}
.qty {
  color: #fff;
}
.boxInput {
}
.input {
  padding: 5px;
  border-radius: 8px;
}
